.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
  .footer-left {
    animation: slight-wobble infinite 2s alternate;
  }
  .footer-right {
    animation: slight-wobble-right infinite 2s alternate;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.footer-left {
  position:fixed;
  left:0;
  bottom:0;
  margin:0;
  padding:0;
  width:30%;
}

.footer-right {
  position:fixed;
  right:0;
  bottom:0;
  margin:0;
  padding:0;
  width:30%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes slight-wobble {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(10deg);
  }
}

@keyframes slight-wobble-right {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-10deg);
  }
}

.zoom {
  transition: transform .2s; /* Animation */
}


.zoom:hover {
  transform: scale(1.25);
}